{
  "mcpServers": {
    "supabase_local_pg": {
      "command": ".cursor/load-env.sh",
      "args": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-postgres@latest",
        "postgresql://postgres:postgres@127.0.0.1:54322/postgres"
      ]
    },
    "figma": {
      "command": ".cursor/load-env.sh",
      "args": ["npx", "-y", "@modelcontextprotocol/server-figma@latest"]
    }
  }
}
